<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todo App</title>
    <script type="text/javascript" th:src="@{/js/spring-mongo.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.6.1.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/spring-mongo.css}" />
</head>
<body>
    <div class="header">
        <a href="/todo/">Home</a> |
        <a href="/todo/task">My Tasks</a> |
        <a href="/todo/task/add">New Task</a> |
        <a href="/todo/test/samples">Create Samples</a> |
        <a href="/todo/test/clear">Clear All Tasks</a>
    </div>