<div class="task-block">
    <h1>${title}</h1>
    <div id="${divId}">
        <table class="task-table">
            <tr class="task-column task-column-labels">
                <td class="task-row">ID</td>
                <td class="task-row">Text</td>
                <td class="task-row">Completed</td>
                <td class="task-row">Notes</td>
            </tr>

            <tr class="task-column" th:each="task : ${taskList}">
                <td class="task-row" th:text="${task.id}"></td>
                <td class="task-row" th:text="${task.text}"></td>
                <td class="task-row" th:text="${task.completed}"></td>
                <td class="task-row" th:text="${task.notes}"></td>
            </tr>
        </table>
    </div>
</div>