<th:block th:insert="fragments/header.html"></th:block>

<div class="content">

    <div class="task-block">
        <h1>All Tasks</h1>
        <div id="all-tasks">
            <table class="task-table">
                <tr class="task-column task-column-labels">
                    <td class="task-row">Task</td>
                    <td class="task-row">Completed</td>
                    <td class="task-row">Priority</td>
                    <td class="task-row">Notes</td>
                    <td class="task-row">Actions</td>
                </tr>

                <tr class="task-column" th:each="task : ${allTasks}">
                    <td class="task-row" th:text="${task.text}"></td>
                    <td class="task-row" th:text="${task.completed}"></td>
                    <td class="task-row" th:text="${#strings.capitalize(#strings.toLowerCase(task.priority))}"></td>
                    <td class="task-row" th:text="${task.notes}" id="notes"></td>
                    <td class="task-row">
                        <a th:href="${'/todo/task/complete?id='+task.id}">Complete</a> |
                        <a th:href="${'/todo/task/edit?id='+task.id}">Edit</a> |
                        <a th:href="${'/todo/task/delete?id='+task.id}">Delete</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="task-block">
        <h1>Top Priority Tasks</h1>
        <div id="top-priority">
            <table class="task-table">
                <tr class="task-column task-column-labels">
                    <td class="task-row">Task</td>
                    <td class="task-row">Completed</td>
                    <td class="task-row">Priority</td>
                    <td class="task-row">Notes</td>
                    <td class="task-row">Actions</td>
                </tr>

                <tr class="task-column" th:each="task : ${topPriority}">
                    <td class="task-row" th:text="${task.text}"></td>
                    <td class="task-row" th:text="${task.completed}"></td>
                    <td class="task-row" th:text="${#strings.capitalize(#strings.toLowerCase(task.priority))}"></td>
                    <td class="task-row" th:text="${task.notes}" id="notes"></td>
                    <td class="task-row">
                        <a th:href="${'/todo/task/complete?id='+task.id}">Complete</a> |
                        <a th:href="${'/todo/task/edit?id='+task.id}">Edit</a> |
                        <a th:href="${'/todo/task/delete?id='+task.id}">Delete</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="task-block">
        <h1>Tasks ordered by priority</h1>
        <div id="order-priority">
            <table class="task-table">
                <tr class="task-column task-column-labels">
                    <td class="task-row">Task</td>
                    <td class="task-row">Completed</td>
                    <td class="task-row">Priority</td>
                    <td class="task-row">Notes</td>
                    <td class="task-row">Actions</td>
                </tr>

                <tr class="task-column" th:each="task : ${orderPriority}">
                    <td class="task-row" th:text="${task.text}"></td>
                    <td class="task-row" th:text="${task.completed}"></td>
                    <td class="task-row" th:text="${#strings.capitalize(#strings.toLowerCase(task.priority))}"></td>
                    <td class="task-row" th:text="${task.notes}" id="notes"></td>
                    <td class="task-row">
                        <a th:href="${'/todo/task/complete?id='+task.id}">Complete</a> |
                        <a th:href="${'/todo/task/edit?id='+task.id}">Edit</a> |
                        <a th:href="${'/todo/task/delete?id='+task.id}">Delete</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="task-block">
        <h1>Tasks With Notes (custom query)</h1>
        <div id="has-notes">
            <table class="task-table">
                <tr class="task-column task-column-labels">
                    <td class="task-row">Task</td>
                    <td class="task-row">Completed</td>
                    <td class="task-row">Priority</td>
                    <td class="task-row">Notes</td>
                    <td class="task-row">Actions</td>
                </tr>

                <tr class="task-column" th:each="task : ${hasNotes}">
                    <td class="task-row" th:text="${task.text}"></td>
                    <td class="task-row" th:text="${task.completed}"></td>
                    <td class="task-row" th:text="${#strings.capitalize(#strings.toLowerCase(task.priority))}"></td>
                    <td class="task-row" th:text="${task.notes}" id="notes"></td>
                    <td class="task-row">
                        <a th:href="${'/todo/task/complete?id='+task.id}">Complete</a> |
                        <a th:href="${'/todo/task/edit?id='+task.id}">Edit</a> |
                        <a th:href="${'/todo/task/delete?id='+task.id}">Delete</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>

<th:block th:insert="fragments/footer.html"></th:block>