<th:block th:insert="fragments/header.html"></th:block>

<div class="content">

    <div class="task-block">
        <h1>Incomplete Tasks</h1>
        <div id="top-priority">
            <table class="task-table">
                <tr class="task-column task-column-labels">
                    <td class="task-row">ID</td>
                    <td class="task-row">Text</td>
                    <td class="task-row">Completed</td>
                    <td class="task-row">Notes</td>
                </tr>

                <tr class="task-column" th:each="task : ${incompleteTasks}">
                    <td class="task-row" th:text="${task.id}"></td>
                    <td class="task-row" th:text="${task.text}"></td>
                    <td class="task-row" th:text="${task.completed}"></td>
                    <td class="task-row" th:text="${task.notes}"></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="task-block">
        <h1>Top Priority Tasks</h1>
        <div id="top-priority">
            <table class="task-table">
                <tr class="task-column task-column-labels">
                    <td class="task-row">ID</td>
                    <td class="task-row">Text</td>
                    <td class="task-row">Completed</td>
                    <td class="task-row">Notes</td>
                </tr>

                <tr class="task-column" th:each="task : ${topPriority}">
                    <td class="task-row" th:text="${task.id}"></td>
                    <td class="task-row" th:text="${task.text}"></td>
                    <td class="task-row" th:text="${task.completed}"></td>
                    <td class="task-row" th:text="${task.notes}"></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="task-block">
        <h1>Tasks ordered by priority</h1>
        <div id="order-priority">
            <table class="task-table">
                <tr class="task-column task-column-labels">
                    <td class="task-row">ID</td>
                    <td class="task-row">Text</td>
                    <td class="task-row">Completed</td>
                    <td class="task-row">Notes</td>
                </tr>

                <tr class="task-column" th:each="task : ${orderPriority}">
                    <td class="task-row" th:text="${task.id}"></td>
                    <td class="task-row" th:text="${task.text}"></td>
                    <td class="task-row" th:text="${task.completed}"></td>
                    <td class="task-row" th:text="${task.notes}"></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="task-block">
        <h1>All Tasks</h1>
        <div id="all-tasks">
            <table class="task-table">
                <tr class="task-column task-column-labels">
                    <td class="task-row">Text</td>
                    <td class="task-row">Completed</td>
                    <td class="task-row">Notes</td>
                    <td class="task-row">Actions</td>
                </tr>

                <tr class="task-column" th:each="task : ${allTasks}">
                    <td class="task-row" th:text="${task.text}"></td>
                    <td class="task-row" th:text="${task.completed}"></td>
                    <td class="task-row" th:text="${task.notes}"></td>
                    <td class="task-row"><a th:href="${'/todo/task/edit?id='+task.id}">Edit</a></td>
                </tr>
            </table>
        </div>
    </div>

</div>

<th:block th:insert="fragments/footer.html"></th:block>