<html>

<head>
    <title>Create a Post</title>
</head>

<body>
    <form id="pform" method="POST" action="add">
        <p>
            <label for="ptitle">Post title:</label>
            <input name="title" id="ptitle" type="text" value="Title" />
        </p>
        <p>
            <label for="pbody">Post body:</label>
            <textarea name="body" form="pform" id="pbody" type="text">Post body</textarea>
        </p>
        <p>
            <label for="powner">Author ID:</label>
            <input name="owner_id" id="powner" type="number" value="0" min="0" max="99" />
        </p>
        <p>
            <input type="submit" value="Create Post" />
        </p>
    </form>
</body>

</html>